@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background-color: #6a994e;
    background-position: center;
}

.header {
    h1{
        color: #ffffff;
    }
    position : sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display : flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    gap : 20px;
    
}
.ano-seletor {
    color: white; /* Cor do texto da label */
    font-family: "Poppins", sans-serif;
    font-size: 200%;
    margin-top: 5%;
    margin-left: 1vw;
}

.ano-seletor select {
    font-size: 75%;
}

.select, ::picker(select) {
    appearance: base-select;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.logo {
    font-size: 2rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}

#check {
    display: none;
}

.navbar {
    display: flex; /* Adicionado para alinhar itens flexbox */
    align-items: center; /* Centraliza verticalmente os itens */

}

.navbar a {
    font-size: 1.15rem;
    color : #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 0.5rem;
    color: #fff;
    filter: invert(100%);
    cursor: pointer;
    display: none;
}

/* Breakpoint*/
@media (max-width: 992px){
    .header {
        padding: 1.3rem 5%;
    }
}
@media (max-width: 768px){
    .icons{
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0,0,0,.1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5m 1rem rgba(0,0,0,.1);
        overflow: hidden;
        transition: .3s ease;
        flex-direction: column; /* Para empilhar no mobile */
        align-items: center; /* Centraliza horizontalmente no mobile */
    }

    #check:checked~.navbar {
        height: 25rem; /* Ajustei a altura para acomodar os itens */
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease; /* Corrigi a transição de -3s para .3s */
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 100px;
}

.card{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 200px;
    text-align: center;
    box-sizing: border-box;
    background-color: #386641;

}

.card img{
    max-width: 100%;
    border-radius: 8px;
}

.card h3{
    margin-top: 8px;
    color: #ffffff;
}

.modal {
  display: none; /* Oculta o modal por padrão */
  position: fixed; /* Posição fixa na tela */
  z-index: 1; /* Fica acima de outros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente */
  padding-top:60px;
}

/* Conteúdo do Modal */
.modal-conteudo {
  background-color: white;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

/* Botão de fechar */
.fechar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.fechar:hover,
.fechar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}




  
main.explicacao{
    h1{
        text-align: center;
        color: white;
    }
    p{
        font-size: 1.5rem;
        margin-top: 2vw;
        margin-left: 20%;
        margin-right: 20%;
        text-align: justify;
        color: rgb(255, 255, 255);
    }
}